RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes

ErrorDocument 404 http://localhost/saaol/mentorconnect/404
ErrorDocument 403 http://localhost/saaol/mentorconnect/404

ReWriteRule ^$  pages/index.php [NC,L]
ReWriteRule ^404$  pages/404.php [NC,L]
